.catalogo{
  margin: 5px;
  display: grid;
  grid-template-rows: 1fr 1fr;
  overflow: scroll;
  grid-auto-flow: column;
  gap: 10px;
}

.title{
  margin-left: 20px
}

.imgContainer{
  width: 50vw;
  height: 200px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.producto img{
  height: 100%;
}

.producto p{
  width: 80%;
  text-align: center;
  margin: 0 auto;
}

@media screen and (min-width: 700px){
  .catalogo{
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .imgContainer{
    width: 30vw;
  }
}

@media screen and (min-width: 1000px){
  .catalogo{
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: repeat(4, 1fr);
  }
  .imgContainer{
    width: 30vw;
  }

  .imgContainer img{
    width: 100%;
  }
}