.footer{
  background-color: var(--second-brand-color);
  color: white;
  margin: 0;
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
}

.subtitle{
  font-size: 20px;
  margin-top: 5px;
}

.link{
  text-decoration: none;
  color: white;
  font-weight: bold;
  padding-left: 10px;
}

.social_media{
  display: flex;
  justify-content: space-around;
}

.social_media a{
  text-decoration: none;
  color: white;
}

.social_media .icon{
  font-size: 35px
}