.header{
  width: 100%;
  height: 50px;
  background-color: var(--first-brand-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hideInMobile{
  display: none
}

.header_right{
  display: flex;
  color: white
}

.header_right p{
  margin-left: 10px;
}

.header__left{
  display: flex;
  flex-direction: column;
}

.logo{
  height: 50px;
}

.icon{
  height: 50px;
  font-size: 35px;
}

.menu{
  display: none;
}

.menu_mobile{
  background-color: rgba(36, 23, 23, 0.6);
  position: relative;
  right: 0;
  top: 50px;
  height: 100vh;
}

.menu_mobile ul{
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 70%;
  margin-right: 50px;
}

.menu_mobile ul li a {
  text-decoration: none;
  color: white;
  padding-top: 10px;
}

@media screen and (min-width: 700px){
  .menu{
    display: initial
  }

  .menu ul{
    display: flex;
    list-style: none;
  }

  .menu ul li a{
    margin-right: 10px;
    text-decoration: none;
    color: #FEFEFE;
  }

  .icon{
    display: none;
  }

  .hideInMobile{
    display: inline;
  }
}